.FilterComponent {
    margin-bottom: 10px;
}

.FilterComponent #clear-all-btn {
    background-color: steelblue;
    height: 32px;
    border-radius: 18px;
    font-size: 10px;
}

.FilterComponent .clear-predicate-btn {
    background-color: #46d246;
    height: 32px;
    border-radius: 18px;
    font-size: 10px;
    margin-left: 5px !important;
}

.FilterComponent .remove {
    font-weight: bolder;
    line-height: 10px;
    font-size: 18px;
    color: red;
    margin-left: 4px;
}
