@media all and (min-width: 480px) {
    .Login {
        padding: 60px 0;
    }

    .Login form {
        margin: 0 auto;
        max-width: 320px;
    }

    .Login #submit-btn {
        margin-top: 10px;
        margin-right: 70px;
        border: none;
        background-color: steelblue;
        color: white;
        font-weight: bold;
    }
}
