.userAttribute {
    display: block;
    font-size: small;
}

.userAttributeName {
    font-weight: bold;
}

.reload {
    margin-left: 1100px;
}

.totalRecords {
    font-weight: bold;
}

.Transaction .input-group {
    width: 20%;
}
